@implements IDisposable
@page "/channels/{ServerId}/{ChannelId}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject IStringLocalizer<CommunicationsAppLoc> Localizer
@inject CommunicationsHubService ChatHubService
@inject NavigationManager NavigationManager
@inject ICosmosDbService CosmosDbService
@inject AuthenticationStateProvider ASP
@inject IServerService ServerService
@inject IToastService ToastService
@inject IMediaService MediaService
@inject ILogger<ChannelView> Logger
@inject IJSRuntime JS

@if (IsLoading)
{
    <FluentStack Style="width: 100%; height: 100%; justify-content: center; align-items: center;">
        <FluentProgressRing></FluentProgressRing>
    </FluentStack>
}
else
{
    if (Server is not null && Channel is not null)
    {
        if (Permissions.Any(p => p.PermissionType == ServerPermissionType.DisplayChannels) || UserId == Server.OwnerId)
        {
            <FluentStack HorizontalGap="4"
                         Style="position: sticky;
                                top: 0em;
                                min-height: 4em;
                                border-bottom: solid 0.1em;
                                align-items: center;
                                z-index: 1;
                                justify-content: space-between;">
                <FluentStack HorizontalGap="4">
                    <FluentLabel Style="margin-left: 0.5em; font-size: 1.8em;">#</FluentLabel>
                    <FluentLabel Weight="FontWeight.Bold">
                        @Channel!.Name
                    </FluentLabel>
                    <FluentLabel>•</FluentLabel>
                    <FluentLabel Style="font-size: 0.9em;">@Channel!.Description</FluentLabel>
                </FluentStack>
                <FluentButton BackgroundColor="rgba(0,0,0,0)" Id="btnDisplayMemberList"
                              OnClick="@(() => DisplayMemberList = !DisplayMemberList)"
                              Style="justify-self: flex-end;">
                    <FluentIcon Value="@(new Size24.PeopleCommunity())" Slot="start" />
                    <FluentTooltip Anchor="btnDisplayMemberList" Position="TooltipPosition.Left">
                        @(DisplayMemberList? Localizer["HideMemberList"] : Localizer["DisplayMemberList"])
                    </FluentTooltip>
                </FluentButton>
            </FluentStack>

            <FluentStack Style="flex-grow: 1; overflow: hidden; width: 100%;" HorizontalGap="0">
                <FluentStack Orientation="Orientation.Vertical" Style="flex-grow: 1; height: 100%;" VerticalGap="0">
                    <FluentStack Orientation="Orientation.Vertical" Style="height: 100%; overflow-y: auto;"
                                 Id="channelMessageView">
                        <FluentStack Orientation="Orientation.Vertical"
                                     HorizontalAlignment="HorizontalAlignment.Center"
                                     Style="margin-top: 1em;">
                            <FluentLabel Weight="FontWeight.Bold"
                                         Typo="Typography.Subject"
                                         Alignment="HorizontalAlignment.Center">
                                @Localizer["WelcomeToChannel"] #@Channel.Name!
                            </FluentLabel>
                            <FluentLabel>
                                This is where the fun begins
                            </FluentLabel>
                        </FluentStack>
                        <FluentStack Orientation="Orientation.Vertical" Style="flex-grow: 1;">
                            @foreach (var message in Channel!.Messages)
                            {
                                var displayNameId = $"senderDisplayName-{message.Id}";
                                var popoverId = $"popover-{message.Id}";
                                var messageImages = message.Attachments
                                    .Where(a => ImageFileExtensions.Contains(Path.GetExtension(a.FileName).ToLower()));
                                var messageVideos = message.Attachments
                                     .Where(a => VideoFileMimeTypes.ContainsKey(Path.GetExtension(a.FileName).ToLower()));
                                var messageAudio = message.Attachments
                                    .Where(a => AudioFileMimeTypes.ContainsKey(Path.GetExtension(a.FileName).ToLower()));
                                var messageFiles = message.Attachments
                                    .Where(a => (!ImageFileExtensions.Contains(Path.GetExtension(a.FileName).ToLower()) &&
                                             !VideoFileMimeTypes.ContainsKey(Path.GetExtension(a.FileName).ToLower()) &&
                                             !AudioFileMimeTypes.ContainsKey(Path.GetExtension(a.FileName).ToLower())));
                                <FluentStack>
                                    <FluentPopover AnchorId=@displayNameId
                                                   Open="@(OpenPopoverId == popoverId)"
                                                   OpenChanged="@((bool isOpen) => OnPopoverOpenChanged(popoverId, isOpen))"
                                                   Style="width: 300px; border-radius: 0.5em;"
                                                   VerticalPosition="VerticalPosition.Top" VerticalThreshold="200">
                                        <Body>
                                            <ProfileCard Profile="@message.Sender" />
                                        </Body>
                                    </FluentPopover>
                                    <FluentCard Style="border-radius: 0; padding: 10px;">
                                        <FluentStack>
                                            <FluentPersona Image="@(!string.IsNullOrWhiteSpace(message.Sender.ProfilePictureUrl)
                                                                    ? message.Sender.ProfilePictureUrl
                                                                    : new Size48.Person().ToDataUri(size: "25px", color: "white"))"
                                                           ImageSize="50px"
                                                           Status="PresenceStatus.Available">
                                            </FluentPersona>
                                            <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
                                                <FluentStack>
                                                    <FluentLabel Id=@displayNameId Weight="FontWeight.Bold"
                                                                 Style="font-size: 1.1em; cursor: pointer;"
                                                                 Color="Color.Custom"
                                                                 CustomColor="@message.Sender.Roles.FirstOrDefault().HexColour"
                                                                 @onclick="() => OnPopoverOpenChanged(popoverId, OpenPopoverId != popoverId)">
                                                        @message.Sender.DisplayName
                                                    </FluentLabel>
                                                    <FluentLabel Style="font-size: 0.9em;">
                                                        @message.SentAt.AddHours(TimeZoneOffset).ToString("dd.MM.yyy HH:mm")
                                                    </FluentLabel>
                                                </FluentStack>
                                                <FluentLabel Style="white-space: pre-wrap;">
                                                    @message.Content
                                                </FluentLabel>
                                                <FluentStack Style="margin-top: 1em;" Orientation="Orientation.Vertical">
                                                @if (messageImages.Count() < 3 || messageImages.Count() == 4)
                                                {
                                                    <FluentStack Style="width: 50%;" Wrap>
                                                    @if (messageImages.Count() == 1)
                                                    {
                                                        var image = messageImages.FirstOrDefault();
                                                            <img src="@image.Url" alt="@image.AltText"
                                                            style="max-width: 400px" />
                                                    }
                                                    else
                                                    {
                                                        foreach (var image in messageImages)
                                                        {
                                                            <img src="@image.Url" alt="@image.AltText"
                                                            style="max-width: 200px;" />
                                                        }
                                                    }
                                                    </FluentStack>
                                                }
                                                else
                                                {
                                                    <FluentStack Style="width: 50%;" Wrap>
                                                    @foreach (var image in messageImages)
                                                    {
                                                        <img src="@image.Url" alt="@image.AltText"
                                                                    style="max-width: 200px;" />
                                                    }
                                                    </FluentStack>
                                                }

                                                @foreach (var video in messageVideos)
                                                {
                                                    <video controls style="max-width: 300px;">
                                                        <source src="@video.Url"
                                                            type=@VideoFileMimeTypes[Path.GetExtension(video.Url)]>
                                                        Your browser does not support the video tag.
                                                    </video>
                                                }

                                                @foreach (var audio in messageAudio)
                                                {
                                                    <FluentCard Style="padding: 0.5em;" Width="22.5em">
                                                        <FluentLabel Style="font-size: 1.1em;" Weight="FontWeight.Bold">
                                                            @audio.FileName
                                                        </FluentLabel>
                                                        <FluentLabel>
                                                            @FormatFileSize(audio.FileSize)
                                                        </FluentLabel>
                                                        <audio controls style="margin-top: 1em;">
                                                            <source src="@audio.Url" 
                                                                type=@AudioFileMimeTypes[Path.GetExtension(audio.Url)]>
                                                            Your browser does not support the audio element.
                                                        </audio>
                                                    </FluentCard>
                                                }

                                                @foreach (var file in messageFiles)
                                                {
                                                    <FluentCard Style="padding: 0.5em;" Width="22.5em">
                                                        <FluentLabel Style="font-size: 1.1em;" Weight="FontWeight.Bold">
                                                            @file.FileName
                                                        </FluentLabel>
                                                        <FluentLabel>
                                                            @FormatFileSize(file.FileSize)
                                                        </FluentLabel>
                                                    </FluentCard>
                                                }
                                                </FluentStack>
                                            </FluentStack>
                                        </FluentStack>
                                    </FluentCard>
                                </FluentStack>
                            }
                            <FluentStack Id="endOfMessages" Style="height: 5px;" />
                        </FluentStack>
                    </FluentStack>

                    <FluentInputFile @ref="@MessageFileUpload" Style="display: none;"
                                     AnchorId="MessageFileUploadButton"
                                     OnCompleted="OnCompleted" Multiple MaximumFileCount="@MaxFileCount"
                                     OnFileCountExceeded="OnFileCountExceeded"
                                     OnFileUploaded="OnFileUploaded"
                                     OnProgressChange="OnFileProgress"
                                     MaximumFileSize="@(100 * 1024 * 1024)"
                                     Mode="InputFileMode.Buffer" />

                    @if (Files.Any() && FilesUploaded.Any(u => u.Value))
                    {
                        <FluentStack Style="width: 100%; padding: 0.5em 1em;">
                            <FluentHorizontalScroll Style="width: 100%;" View="HorizontalScrollView.Default" 
                                Speed="1200" Easing=ScrollEasing.EaseInOut>
                                @foreach (var file in Files)
                                {
                                    if (FilesUploaded.ContainsKey(file.Key) && FilesUploaded[file.Key])
                                    {
                                        var fileExtension = Path.GetExtension(file.Value.FileName).ToLower();
                                        var fileName = file.Value.FileName;
                                        var url = file.Value.Url;
                                        @if (ImageFileExtensions.Contains(fileExtension))
                                        {
                                            <FluentCard>
                                                <FluentLabel Style="margin-bottom: 1em;">@fileName</FluentLabel>
                                                <img src="@url" style="max-width: 150px;" />
                                                <FluentStack Style="margin-top: 1em;">
                                                    <FluentButton OnClick="(() => DeleteFile(url))">
                                                        <FluentIcon Value="@(new Size20.Delete())" Color="Color.Error" />
                                                    </FluentButton>
                                                </FluentStack>
                                            </FluentCard>
                                        }
                                        else if (AudioFileMimeTypes.ContainsKey(fileExtension))
                                        {
                                            <FluentCard>
                                                <FluentLabel Style="margin-bottom: 1em;">@fileName</FluentLabel>
                                                <audio controls>
                                                    <source src="@url" type=@AudioFileMimeTypes[fileExtension]>
                                                    Your browser does not support the audio element.
                                                </audio>
                                                <FluentStack Style="margin-top: 1em;">
                                                    <FluentButton OnClick="(() => DeleteFile(url))">
                                                        <FluentIcon Value="@(new Size20.Delete())" Color="Color.Error" />
                                                    </FluentButton>
                                                </FluentStack>
                                            </FluentCard>
                                        }
                                        else if (VideoFileMimeTypes.ContainsKey(fileExtension))
                                        {
                                            <FluentCard>
                                                <FluentLabel Style="margin-bottom: 1em;">@fileName</FluentLabel>
                                                <video controls style="max-width: 150px;">
                                                    <source src="@url" type=@VideoFileMimeTypes[fileExtension]>
                                                    Your browser does not support the video tag.
                                                </video>
                                                <FluentStack Style="margin-top: 1em;">
                                                    <FluentButton OnClick="(() => DeleteFile(url))">
                                                        <FluentIcon Value="@(new Size20.Delete())" Color="Color.Error" />
                                                    </FluentButton>
                                                </FluentStack>
                                            </FluentCard>
                                        }
                                        else
                                        {
                                            <FluentCard>
                                                <FluentLabel Style="margin-bottom: 1em;">@fileName</FluentLabel>
                                                <FluentStack Style="margin-top: 1em;">
                                                    <FluentButton OnClick="(() => DeleteFile(url))">
                                                        <FluentIcon Value="@(new Size20.Delete())" Color="Color.Error" />
                                                    </FluentButton>
                                                </FluentStack>
                                            </FluentCard>
                                        }
                                    }
                                }
                            </FluentHorizontalScroll>
                        </FluentStack>
                    }

                    <FluentStack Style="position: relative; width: 100%; position: sticky; bottom: 0;
                                        align-self: start; padding-bottom: 1em;" Id="textAreaStack">
                        <div class="fluent-textarea-wrapper">
                            <div class="fluent-icon-group">
                                <FluentButton Id="MessageFileUploadButton"
                                    Disabled="@((!Permissions.Any(
                                                p => p.PermissionType == ServerPermissionType.SendMessages) &&
                                                UserId != Server.OwnerId) || !AllowFileAttachment)"
                                              Appearance="Appearance.Stealth">
                                    <FluentIcon Value="@(new Size20.Add())" />
                                </FluentButton>
                            </div>
                            <FluentKeyCode OnKeyDown="@OnKeyHandleAsync" style="width: 100%;">
                               <textarea @bind="NewMessage.Content"
                                        placeholder="@($"{Localizer["SendMessage"]} #{Channel.Name}")"
                                        class="fluent-textarea"
                                        @ref=NewMessageRef
                                        @oninput=AutoGrow
                                        disabled="@((!Permissions.Any(
                                        p => p.PermissionType == ServerPermissionType.SendMessages) &&
                                        UserId != Server.OwnerId) || MessageSendInProgress)"
                                        maxlength="400">
                               </textarea>

                            </FluentKeyCode>
                            
                            <div class="fluent-icon-group">
                                <FluentButton
                                              Disabled
                                              Appearance="Appearance.Stealth">
                                    <FluentIcon Value="@(new Size20.EmojiSmileSlight())" />
                                </FluentButton>
                                <FluentButton
                                              Disabled
                                               Appearance="Appearance.Stealth">
                                    <FluentIcon Value="@(new Size20.Gif())" />
                                </FluentButton>
                                <FluentButton  OnClick="SendMessageAsync"
                                        Disabled="@((!Permissions.Any(
                                                   p => p.PermissionType == ServerPermissionType.SendMessages) &&
                                                   UserId != Server.OwnerId) || FileUploadInProcess || 
                                                    MessageSendInProgress)"
                                              Appearance="Appearance.Stealth">
                                            <FluentIcon Value="@(new Size20.Send())" />
                                </FluentButton>
                            </div>
                        </div>
                    </FluentStack>
                </FluentStack>
                @if (DisplayMemberList)
                {
                    <FluentStack Orientation="Orientation.Vertical"
                                    Style="height: 100%; width: 28em; overflow-y: auto; border-left: solid 0.1em; scrollbar-width: thin;">
                        <FluentStack Orientation="Orientation.Vertical" Style="padding: 0.5em;">
                            @foreach (var member in Server.Members)
                            {
                                <FluentStack HorizontalAlignment="HorizontalAlignment.Left">
                                    <FluentPersona Image="@(!string.IsNullOrWhiteSpace(member.ProfilePictureUrl)
                                                            ? member.ProfilePictureUrl
                                                            : new Size48.Person().ToDataUri(size: "25px", color: "white"))"
                                                    ImageSize="50px"
                                                    Status="PresenceStatus.Available">
                                    </FluentPersona>
                                    <FluentStack Orientation="Orientation.Vertical">
                                        <FluentStack>
                                            <FluentLabel Style="font-size: 1.1em;" Color="Color.Custom"
                                                CustomColor="@((member.Roles.Count > 0 
                                                            ? member.Roles.FirstOrDefault().HexColour
                                                            : ""))">
                                                    @member.DisplayName
                                            </FluentLabel>
                                            @if (member.UserId == Server.OwnerId)
                                            {
                                                <FluentIcon Id="serverOwner" Value="@(new Size20.Crown())" />
                                                <FluentTooltip Anchor="serverOwner">
                                                    @Localizer["ServerOwner"]
                                                </FluentTooltip>
                                            }
                                        </FluentStack>
                                        <FluentLabel>@member.Status</FluentLabel>
                                    </FluentStack>
                                </FluentStack>
                            }
                        </FluentStack>
                    </FluentStack>
                }
            </FluentStack>
        }
        else
        {
            <FluentStack HorizontalAlignment="HorizontalAlignment.Center" Style="margin-top: 1em;">
                <FluentIcon Value="@(new Size28.Info())" Color="Color.Error" />
                <FluentLabel Typo="Typography.H4">
                    @Localizer["NoViewChannelsPermission"]
                </FluentLabel>
            </FluentStack>
        }
    }
}

@code {
    [Parameter]
    public string? ServerId { get; set; }
    [Parameter]
    public string? ChannelId { get; set; }
    public bool IsLoading { get; set; } = true;
    public Server? Server { get; set; }
    public Channel? Channel { get; set; }
    public ChatMessage NewMessage { get; set; } = new();
    public string? UserId { get; set; }
    public int TimeZoneOffset { get; set; }
    public string? TitleString { get; set; }
    public bool DisplayMemberList = false;
    private string? OpenPopoverId { get; set; }
    public List<ServerPermission> Permissions = [];
    private ElementReference NewMessageRef;
    private Dictionary<string, MediaAttachment> Files { get; set; } = [];
    private Dictionary<string, bool> FilesUploaded { get; set; } = [];
    private FluentInputFile? MessageFileUpload = default!;
    private bool FileUploadInProcess { get; set; }
    private int UploadPercentage;
    private string UploadTitle;
    private int MaxFileCount = 10;
    private bool AllowFileAttachment = true;
    private static string FileProgressToast = "fileProgressToast";
    private static string MessageProgressToast = "messageProgressToast";
    private bool MessageSendInProgress = false;
    private bool FileToastShown = false;
    private ToastParameters<ProgressToastContent> FileProgressToastData = new()
    {
        Id = FileProgressToast,
        Intent = ToastIntent.Download,
        Title = "",
        Timeout = 0,
        Content = new ProgressToastContent()
        {
            Progress = 0,
        },
    };
    private ToastParameters<ProgressToastContent> MessageSendingData = new()
    {
        Id = MessageProgressToast,
        Intent = ToastIntent.Progress,
        Title = "",
        Timeout = 0,
        Content = new ProgressToastContent()
        {
            Details = "",
        },
    };
    readonly List<string> ImageFileExtensions = [
        ".jpg",".jpeg", ".png", ".gif", ".bmp", ".tiff", ".tif",
        ".webp", ".svg", ".heic", ".raw", ".ico"
    ];
    readonly Dictionary<string, string> VideoFileMimeTypes = new()
    {
        { ".mp4", "video/mp4" },
        { ".mov", "video/quicktime" },
        { ".avi", "video/x-msvideo" },
        { ".mkv", "video/x-matroska" },
        { ".wmv", "video/x-ms-wmv" },
        { ".flv", "video/x-flv" },
        { ".webm", "video/webm" },
        { ".3gp", "video/3gpp" },
        { ".mpeg", "video/mpeg" },
        { ".mpg", "video/mpeg" },
        { ".ts", "video/mp2t" }
    };
    readonly Dictionary<string, string> AudioFileMimeTypes = new()
    {
        { ".mp3", "audio/mpeg" },
        { ".wav", "audio/wav" },
        { ".flac", "audio/flac" },
        { ".aac", "audio/aac" },
        { ".ogg", "audio/ogg" },
        { ".wma", "audio/x-ms-wma" },
        { ".m4a" , "audio/mp4" },
        { ".aiff", "audio/aiff" },
        { ".alac", "audio/alac" },
        { ".opus", "audio/opus" }
    };

    protected override void OnInitialized()
    {
        ChatHubService.ChannelMessageReceived += OnChannelMessageReceived;
        ChatHubService.MemberUpdateReceived += OnMemberUpdateReceived;
        ChatHubService.ServerRoleUpdateReceived += OnServerRoleUpdated;
        ChatHubService.ServerRoleMembersUpdateReceived += OnServerRoleMembersUpdated;
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await ASP.GetAuthenticationStateAsync();
        UserId = authState.User.Claims.Where(c => c.Type.Contains("nameidentifier")).First().Value;
        TimeZoneOffset = await JS.InvokeAsync<int>("timeZoneHelper.getTimeZone");
        if (string.IsNullOrWhiteSpace(ServerId) || string.IsNullOrWhiteSpace(ChannelId))
        {
            return;
        }
        Server = await ServerService.GetServerByIdAsync(ServerId, UserId);
        if (Server == null || Server.Members.All(m => m.UserId != UserId))
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        Server.Members = Server.Members.OrderBy(m => m.DisplayName).ToList();
        Channel = Server?.ChannelClasses.SelectMany(cc => cc.Channels).FirstOrDefault(c => c.Id == ChannelId);
        if (Channel == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }
        TitleString = $"CA | #{Channel!.Name} | {Server!.Name}";
        Channel.Messages ??= [];
        await JS.InvokeVoidAsync("titleHelper.setTitle", TitleString);
        Permissions = Server.Members.FirstOrDefault(m => m.UserId == UserId).Roles.SelectMany(r => r.Permissions).ToList();

        IsLoading = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("chatScroll.initializeScrollWatcher", "channelMessageView");
            await JS.InvokeVoidAsync("chatScroll.scrollToBottom", "endOfMessages");
        }
    }

    public string FormatFileSize(long bytes)
    {
        const int scale = 1024;
        string[] units = { "Bytes", "KiB", "MiB", "GiB", "TiB" };
        int unitIndex = 0;
        double readableSize = bytes;

        while (readableSize >= scale && unitIndex < units.Length - 1)
        {
            readableSize /= scale;
            unitIndex++;
        }

        return $"{readableSize:0.##} {units[unitIndex]}";
    }
    
    private async Task OnKeyHandleAsync(FluentKeyCodeEventArgs args)
    {
        if (args.Name == "keyup")
        {
            return;
        }

        if (args.Repeat)
        {
            return;
        }
        var keyCode = args.ToString();
        if (keyCode == "Enter")
        {
            await SendMessageAsync();
            return;
        }
        else if (keyCode == "Shift + Enter")
        {

        }
        return;
    }

    private async Task OnCompleted(IEnumerable<FluentInputFileEventArgs> files)
    {
        UploadPercentage = MessageFileUpload.ProgressPercent;
        UploadTitle = Localizer["Completed"];
        FileProgressToastData.Title = UploadTitle;
        ToastService.UpdateToast(FileProgressToast, FileProgressToastData);
        FileUploadInProcess = false;
        await Task.Delay(1500);
        ToastService.CloseToast(FileProgressToast);
        UploadPercentage = 0;
        UploadTitle = string.Empty;
        FileToastShown = false;
        AllowFileAttachment = true;
    }

    private async Task OnFileProgress(FluentInputFileEventArgs file)
    {
        if (!FileToastShown)
        {
            ToastService.ShowProgressToast(FileProgressToastData);
            FileToastShown = true;
        }
        AllowFileAttachment = false;
        FileUploadInProcess = true;
        var fileCount = file.AllFiles.Count();
        var index = file.Index + 1;
        var fileName = file.Name;
        UploadPercentage = file.ProgressPercent;
        UploadTitle = Localizer["FileUploadTitle", Localizer["Loading"], index, fileCount, fileName];
        var tempDir = Path.Combine("wwwroot", "temp", NewMessage.Id);
        Directory.CreateDirectory(tempDir);
        var savePath = Path.Combine(tempDir, fileName);
        FileProgressToastData.Title = UploadTitle;
        FileProgressToastData.Content.Progress = UploadPercentage;
        ToastService.UpdateToast(FileProgressToast, FileProgressToastData);

        if (!Files.ContainsKey(fileName))
        {
            MediaAttachment attachment = new()
            {
                Url = Path.Combine("temp", NewMessage.Id, fileName),
                FileName = fileName,
                FileSize = file.Size
            };
            Files.Add(fileName, attachment);
        }

        for (var i = file.Index; i < file.AllFiles.Count(); i++)
        {
            var allFile = file.AllFiles.ElementAt(i);
            if (!FilesUploaded.ContainsKey(allFile.Name))
            {
                FilesUploaded.Add(allFile.Name, false);
            }
        }

        try
        {
            await file.Buffer.AppendToFileAsync(savePath);
        }
        catch (Exception)
        {
            ToastService.ShowError(Localizer["FileUploadError", fileName], timeout: 1000);
        }
    }

    private void OnFileUploaded(FluentInputFileEventArgs file)
    {
        FilesUploaded[file.Name] = true;
    }

    private void OnFileCountExceeded(int amount)
    {
        ToastService.ShowError(Localizer["MessageFileCountExceeded", MaxFileCount, amount]);
    }

    private async Task AutoGrow(ChangeEventArgs e)
    {
        NewMessage.Content = e.Value.ToString();
        await JS.InvokeVoidAsync("autoGrow", NewMessageRef);
    }

    private async void OnChannelMessageReceived(string serverId, string channelId, ChatMessage message)
    {
        if (Channel != null && channelId == Channel.Id)
        {
            Channel.Messages.Add(message);
            await InvokeAsync(StateHasChanged);
            await Task.Delay(100);
            try
            {
                bool autoScroll = await JS.InvokeAsync<bool>("chatScroll.shouldScroll", "channelMessageView");
                if (autoScroll)
                {
                    await JS.InvokeVoidAsync("chatScroll.scrollToBottom", "endOfMessages");
                }
            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
            }
        }
    }

    private async void OnMemberUpdateReceived(string serverId, ServerUpdateType updateType, ServerProfile member)
    {
        if (ServerId != serverId)
        {
            return;
        }
        switch (updateType)
        {
            case ServerUpdateType.MemberJoined:
                if (Server != null && !Server.Members.Any(m => m.UserId == member.UserId))
                {
                    Server.Members.Add(member);
                    Server.Members = Server.Members.OrderBy(m => m.DisplayName).ToList();
                }
                await InvokeAsync(StateHasChanged);
                break;
            case ServerUpdateType.MemberLeft:
                if (Server != null)
                {
                    Server.Members.RemoveAll(m => m.Id == member.Id);
                }
                await InvokeAsync(StateHasChanged);
                break;
            case ServerUpdateType.MemberKicked:
                if (Server != null)
                {
                    Server.Members.RemoveAll(m => m.Id == member.Id);
                }
                await InvokeAsync(StateHasChanged);
                break;
        }
    }

    private async void OnServerRoleUpdated(
        string serverId, ServerUpdateType updateType, ServerRole role)
    {
        if (ServerId != serverId)
        {
            return;
        }
        var existingRole = Server.Roles.FirstOrDefault(r => r.Id == role.Id);
        var userRole = Server.Members.FirstOrDefault(m => m.UserId == UserId)
                        .Roles.FirstOrDefault(r => r.Id == role.Id);
        switch (updateType)
        {
            case ServerUpdateType.RoleUpdated:
                if (existingRole != null)
                {
                    existingRole.Name = role.Name;
                    existingRole.HexColour = role.HexColour;
                    existingRole.Hierarchy = role.Hierarchy;
                    existingRole.DisplaySeparately = role.DisplaySeparately;
                    existingRole.Permissions = [.. role.Permissions];
                }
                if (userRole != null)
                {
                    userRole.Name = role.Name;
                    userRole.HexColour = role.HexColour;
                    userRole.Hierarchy = role.Hierarchy;
                    userRole.DisplaySeparately = role.DisplaySeparately;
                    userRole.Permissions = [.. role.Permissions];
                }
                Server.Roles = [.. Server.Roles.OrderBy(r => r.Hierarchy)];
                foreach (var member in Server.Members)
                {
                    member.Roles = [.. member.Roles.OrderBy(r => r.Hierarchy)];
                }
                break;
        }
        Permissions = Server.Members.FirstOrDefault(m => m.UserId == UserId).Roles.SelectMany(r => r.Permissions).ToList();

        await InvokeAsync(StateHasChanged);
    }

    private async void OnServerRoleMembersUpdated(
        string serverId, ServerRole role, RoleMemberLinking linking)
    {
        if (ServerId != serverId)
        {
            return;
        }
        var addedMemberIds = linking.NewMembers.Select(m => m.UserId).ToList();
        var removedMemberIds = linking.RemovedMembers.Select(m => m.UserId).ToList();
        var membersToUpdate = Server.Members.Where(m => addedMemberIds.Contains(m.UserId)).ToList();
        membersToUpdate.AddRange(Server.Members.Where(m => removedMemberIds.Contains(m.UserId)));
        foreach (var member in membersToUpdate)
        {
            if (addedMemberIds.Contains(member.UserId) && member.Roles.All(r => r.Id != role.Id))
            {
                member.Roles.Add(role);
            }
            if (removedMemberIds.Contains(member.UserId))
            {
                member.Roles.RemoveAll(r => r.Id == role.Id);
            }
            member.Roles = [.. member.Roles.OrderBy(r => r.Hierarchy)];
        }
        SetPermissions();

        await InvokeAsync(StateHasChanged);
    }

    public void SetPermissions()
    {
        Permissions = Server.Members.FirstOrDefault(m => m.UserId == UserId).Roles.SelectMany(r => r.Permissions).ToList();
    }

    private async Task SendMessageAsync()
    {
        if (string.IsNullOrWhiteSpace(NewMessage.Content) && !Files.Any())
            return;
        if (string.IsNullOrWhiteSpace(ServerId) || string.IsNullOrWhiteSpace(ChannelId) || Channel == null)
            return;
        MessageSendInProgress = true;
        MessageSendingData.Title = Localizer["SendingMessage"];
        if (Files.Any())
        {
            MessageSendingData.Content.Details = Localizer["UploadingFiles"];
        }
        ToastService.ShowProgressToast(MessageSendingData);
        NewMessage.Id = Guid.CreateVersion7().ToString();
        NewMessage.SentAt = DateTimeOffset.UtcNow;
        NewMessage.PartitionKey = $"ChatMessage-{ServerId}";
        NewMessage.Channel = new () {
            Id = ChannelId,
            Name = Channel.Name,
            ServerId = Channel.ServerId,
            ChannelClassId = Channel.ChannelClassId,
            Description = Channel.Description,
            IsPrivate = Channel.IsPrivate,
            OrderNumber = Channel.OrderNumber,
            CreatedAt = Channel.CreatedAt,
        };
        var sender = Server!.Members.FirstOrDefault(m => m.UserId == UserId)!;

        NewMessage.Sender = sender.ToDTO();

        if (Files.Any())
        {
            FileUploadList fileUpload = new()
            {
                Files = Files,
                Origin = FileUploadOrigin.BlazorFluentUI
            };

            var fileResult = await MediaService.UploadPostMediaAsync(fileUpload, NewMessage.Id);

            if (fileResult.Succeeded)
            {
                NewMessage.Attachments = [.. fileResult.Files];
            }
            else
            {
                ToastService.CloseToast(MessageProgressToast);
                ToastService.ShowError(fileResult.ErrorMessage);
                ClearUploadProperties();

                return;
            }
        }

        var messageResult = await CosmosDbService.SaveMessageAsync(NewMessage);
        if (!messageResult.Succeeded)
        {
            ToastService.ShowError(Localizer["SavingMessageError"]);
            Console.WriteLine(messageResult.ErrorMessage);
            return;
        }
        var result = await ChatHubService.SendMessageAsync(ServerId, ChannelId, NewMessage);

        if (!result.Succeeded)
        {
            ToastService.ShowError(Localizer["SendingMessageError"]);
            Console.WriteLine(result.ErrorMessage);
            ToastService.CloseToast(MessageProgressToast);
            return;
        }

        var tempDir = Path.Combine("wwwroot", "temp", NewMessage.Id);
        if (Directory.Exists(tempDir))
        {
            try
            {
                Directory.Delete(tempDir, true);
            }
            catch (Exception e)
            {
                Logger.LogError(e, "Error deleting temporary directory: {Directory}", tempDir);
            }
        }
        ClearUploadProperties();
        await JS.InvokeVoidAsync("resetHeight", NewMessageRef);

        ToastService.CloseToast(MessageProgressToast);
        NewMessage = new();
        MessageSendInProgress = false;
    }

    private void ClearUploadProperties()
    {
        Files.Clear();
        FilesUploaded.Clear();
        UploadPercentage = 0;
        UploadTitle = string.Empty;
    }

    private void OnPopoverOpenChanged(string popoverId, bool isOpen)
    {
        if (isOpen)
            OpenPopoverId = popoverId;
        else if (OpenPopoverId == popoverId)
            OpenPopoverId = null;
    }

    private void DeleteFile(string fileName)
    {
        fileName = Path.GetFileName(fileName);
        if (Files.ContainsKey(fileName))
        {
            try
            {
                File.Delete(Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "temp", NewMessage.Id, fileName));
            }
            catch (Exception)
            {

            }
            Files.Remove(fileName);
            FilesUploaded.Remove(fileName);

            if (!Files.Any())
            {
                ClearUploadProperties();
            }
        }
    }

    public void Dispose()
    {
        if (!string.IsNullOrWhiteSpace(NewMessage.Id))
        {
            var tempDir = Path.Combine("wwwroot", "temp", NewMessage.Id);
            if (Directory.Exists(tempDir))
            {
                try
                {
                    Directory.Delete(tempDir, true);
                }
                catch (Exception e)
                {
                    Logger.LogError(e, "Error deleting temporary directory: {Directory}", tempDir);
                }
            }
        }
        ChatHubService.ChannelMessageReceived -= OnChannelMessageReceived;
        ChatHubService.MemberUpdateReceived -= OnMemberUpdateReceived;
        ChatHubService.ServerRoleUpdateReceived -= OnServerRoleUpdated;
        ChatHubService.ServerRoleMembersUpdateReceived -= OnServerRoleMembersUpdated;
    }
}